body {
    margin: 0;
}

main {
    margin: 10px;
}

.overlay {
    font-family: 'Noto Sans', sans-serif;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 1em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 300px;
    max-height: 800px;
    color: white;
}

.title {
    font-size: 25px;
}

.items {
    font-size: 20px;
}

.link {
    font-size: 18px;
}